[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
psycopg2 = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
