<!-- app/templates/home/index.html -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <div class="android-be-together-section mdl-typography--text-center">
        <div class="logo-font android-slogan">Juntos podemos mais</div>
        <div class="logo-font android-sub-slogan">
            welcome to monitranvida... reastreamento de acidentes de trânsito
        </div>
        <div class="logo-font android-create-character">
            <a href=""><img src="/static/images/andy.png"> 
                Informar
            </a>
        </div>

        <a href="#screens">
            <button class="android-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                <i class="material-icons">expand_more</i>
            </button>
        </a>
    </div>


{% endblock %}